@page "/leafletmap"
@using AirQualityApp.BackgroundServices;
@using Microsoft.JSInterop
@using AirQualityApp.Services
@using System.Text.Json
@inject IJSRuntime JSRuntime
@inject OpenAqApiClient OpenAqApiClient
@inject MeasurementCacheService CacheService
@using AirQualityApp.Models

<div id="map"></div>

@code {

    private async Task InitializeMapAsync()
    {
        var map = await JSRuntime.InvokeAsync<IJSObjectReference>("initializeAirQualityMap");

        Console.WriteLine("Map Initialized");
        Console.WriteLine("Fetching measurements from DB");
        var measurements = await GetMeasurementsAsync();
        var dataForMarkers = OpenAqApiClient.CreateMarkersFromMeasurements(measurements);
        Console.WriteLine("Measurements fetched from DB");

        try
        {
            Console.WriteLine("Grouping measurements by location");
            var markersByLocation = OpenAqApiClient.GroupMarkersByLocation(dataForMarkers);
           // var measurementsByLocation = OpenAqApiClient.GroupMeasurementsByLocation(measurements);
            Console.WriteLine("MarkersByLocation: " + markersByLocation);

            await JSRuntime.InvokeVoidAsync("updateMarkers", map, markersByLocation);
            Console.WriteLine("Markers Added");
           



        }
        catch (Exception e)
        {
            Console.WriteLine("Error: " + e.Message);
        }
    }

    public async Task<List<Marker>> GetMeasurementsAsync()
    {
        var measurements = CacheService.GetCachedMeasurements();

        if (measurements == null)
        {
            measurements = await OpenAqApiClient.FetchAQIMeasurementsFromDb();
            CacheService.Update(measurements);
        }

        return measurements;
    }


    

    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitializeMapAsync();

        }
    }
}