@page "/leafletmap"
@using AirQualityApp.Interfaces
@using AirQualityApp.Interfaces.Helpers;
@using AirQualityApp.Interfaces.Map;
@using Microsoft.JSInterop
@using AirQualityApp.Models
@inject IJSRuntime JSRuntime
@inject IMapInitializationService MapInitializationService
@inject IAQIMeasurementsService AQIMeasurementsService
@inject IDotNetInteropHelper DotNetInteropHelper

<div id="map"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitializeMapAsync();
        }
    }

    private async Task InitializeMapAsync()
    {
        try
        {
            var map = await MapInitializationService.InitializeMapAsync();
            Console.WriteLine("Map Initialized");

            var markersByLocation = await AQIMeasurementsService.GetAQIMeasurementsAsync();
            Console.WriteLine("MarkersByLocation: " + markersByLocation);

            await JSRuntime.InvokeVoidAsync("updateMarkers", map, markersByLocation);
            Console.WriteLine("Markers Added");
            var dotNetObjectRef = DotNetObjectReference.Create(DotNetInteropHelper);
            await JSRuntime.InvokeVoidAsync("init", dotNetObjectRef);

        }
        catch (Exception e)
        {
            Console.WriteLine("Error: " + e.Message);
        }
    }
}
